services:
  db:
    container_name: db
    image: postgres:16
    environment:
      POSTGRES_USER: app
      POSTGRES_PASSWORD: app
      POSTGRES_DB: app
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  web:
    container_name: web
    build: .
    env_file:
      - .env
    depends_on:
      - db
    expose:
      - "8000"
    ports:
      - "8000:8000"
    volumes:
      - ./media:/app/media
      - ./web:/app/web
      - ./app:/app/app

volumes:
  pgdata:
