{% extends "base.html" %}

{% block title %}Вход в СтройМаг{% endblock %}

{% block content %}

<div class="page-center">
    <div class="form-container">
        <h2>Вход в СтройМаг</h2>
        <form action="/auth/form/login" method="post">
            <div class="поле">
                <label>Email:</label>
                <input type="email" name="username" placeholder="example@mail.ru" required>
            </div>
            <div class="поле">
                <label>Пароль:</label>
                <input type="password" name="password" placeholder="введите пароль" required>
            </div>
            <button type="submit" class="btn btn-custom">Войти</button>
        </form>

        {% if request.query_params.get('error') %}
        <div class="alert alert-error">
            Ошибка: {{ request.query_params.get('error') }}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}
