{% extends "base.html" %}

{% block title %}Регистрация в СтройМаг{% endblock %}

{% block content %}
<div class="форма">
    <form action="/auth/form/register" method="post">
        <div class="поле">
            <label>Фамилия:</label>
            <input type="text" name="last_name" placeholder="введите фамилию" required>
        </div>
        <div class="поле">
            <label>Имя:</label>
            <input type="text" name="first_name" placeholder="введите имя" required>
        </div>
        <div class="поле">
            <label>Отчество:</label>
            <input type="text" name="patronymic" placeholder="введите отчество">
        </div>
        <div class="поле">
            <label>Почта:</label>
            <input type="email" name="email" placeholder="example@yandex.com" required>
        </div>
        <div class="поле">
            <label>Мобильный телефон:</label>
            <input type="tel" name="phone" placeholder="+7 XXX XXX-XX-XX" pattern="\+7\s?[0-9]{3}\s?[0-9]{3}\s?[0-9]{2}\s?[0-9]{2}" required>
        </div>
        <div class="поле">
            <label>Пароль:</label>
            <input type="password" name="password" placeholder="введите пароль" required>
        </div>
        <div class="поле">
            <label>Повторите пароль:</label>
            <input type="password" name="password_confirm" placeholder="повторите пароль" required>
        </div>
        <input type="hidden" name="role" value="CLIENT">
        <button type="submit" class="тык">Зарегистрироваться</button>
    </form>
</div>

{% if request.query_params.get('error') %}
<div style="color: red; padding: 10px; margin: 10px; border: 1px solid red;">
    Ошибка: {{ request.query_params.get('error') }}
</div>
{% endif %}

<!--{% if request.query_params.get('message') %}-->
<!--<div style="color: purple; padding: 10px; margin: 10px; border: 1px solid red;">-->
<!--    Успешная регистрация: {{ request.query_params.get('message') }}-->
<!--</div>-->
<!--{% endif %}-->

{% endblock %}
