@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Open+Sans:wght@400;600;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

h1 {
    color: purple !important;
    font-size: 50px !important;
}
