{% extends "base.html" %}

{% block title %}Заказ успешно оформлен - СтройМаг{% endblock %}

{% block content %}
<main>
    <div class="success-page">
        <h2>Заказ успешно оформлен!</h2>
        <p class="string"><strong>Номер заказа:</strong> 3664.</p>
        <p class="string">Письмо с подтверждением заказа отправлено на example@mail.ru.</p>
        <p class="string">Мы свяжемся с вами в течение часа.</p>
    </div>

    <div class="success-actions">
        <a href="/profile/orders" class="btn">Перейти в мой кабинет</a>
        <a href="/catalog" class="btn">Вернуться в каталог</a>
    </div>
</main>
{% endblock %}
