#name: CI
#
#on:
#  push:
#  pull_request:
#
#jobs:
#  tests:
#    runs-on: ubuntu-latest
#
#    services:
#      postgres:
#        image: postgres:16
#        env:
#          POSTGRES_USER: app
#          POSTGRES_PASSWORD: app
#          POSTGRES_DB: app
#        ports:
#          - 5432:5432
#
#        options: >-
#          --health-cmd="pg_isready -U app -d app"
#          --health-interval=5s
#          --health-timeout=5s
#          --health-retries=5
#
#    env:
#      DATABASE_URL: postgresql+asyncpg://app:app@localhost:5432/app
#      JWT_SECRET: ci_secret
#
#    steps:
#      - uses: actions/checkout@v4
#
#      - uses: actions/setup-python@v5
#        with:
#          python-version: "3.12"
#
#      - name: Install dependencies
#        run: |
#          python -m pip install -U pip
#          pip install -r requirements.txt
#
#      - name: Run tests.test_health.py
#        run: |
#          pytest -q
